
.moui-imageview {
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: $moui_z_overlay + $moui_z_step;
  @include user-select(none);

  .wrapper {
    height:100%;

    & > header {
      position:absolute;
      top:0;
      right:-32px;
      width:32px;
      z-index:$moui_z_step;
      @include user-select(none);
      @include transition(right 0.4s);

      h1 {
        display:none;
      }

      .group {
        margin:22px 0;
        display:block;
      }

      .btn {
        @extend %moui-reset-btn;
        display:block;
        float:none;
        height:32px;
        line-height:32px;
        background:rgba(119, 119, 119, 0.6);
        margin:1px 0;
        font-size:20px;
        font-weight:100;
        color:#fff;
        text-align:center;

        &:hover {
          background:rgba(119, 119, 119, 1);
        }

        &:active {
          opacity:0.8;
        }

        &.disabled {
          opacity:0.4;
          background:rgba(119, 119, 119, 0.8);
        }

      }

      .cancel {
        margin-top:22px;
      }

      .reset {
        font-size:14px;
      }

      .next,
      .prev {
        height:120px;
        line-height:120px;
        font-family: Arial;
        font-size:30px;
        font-weight:100;
      }

    }

    & > article {
      position:relative;
      height:100%;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;

      .max {
        position:relative;
        -webkit-backface-visibility: hidden;
      }

      img {
        position:absolute;
        top:0;
        left:0;
        max-width:none;
        opacity:0;
        @include transform(scale(0.7));
        @include transition(transform 0.3s ceaser($easeOutQuad), 
          opacity 0.2s);

        &.ready {
          @include transition(transform 0.3s ceaser($easeOutQuad), 
            opacity 0.2s, 
            width 0.4s, left 0.4s, top 0.4s);
        }

      }

      .mask {
        display:none;
        position:absolute;
        top:0;
        left:0;
      }

    }

    & > .loading {
      position:absolute;
      top:50%;
      bottom:0;
      left:0;
      right:0;
      text-align:center;
      margin-top:-50px;
      color:#fff;
      font-size:12px;
    }

    & > footer {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      color: #fff;
      padding: 15px;
      background:#0d0d0d\9;
      filter: alpha(opacity=50)\9;
      background:rgba(0, 0, 0, 0.5);
      @include transform(translateY(100%));
      @include transition(transform 0.4s);
    }

  }

  .shd {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#0d0d0d\9;
    filter: alpha(opacity=95)\9;
    background:rgba(0, 0, 0, 0.85);
    opacity:0;
    @include transition(opacity 0.2s);
  }

  &.rendered {
    display:block;
  }

  &.active {

    .wrapper > header {
      right:14px;
    }

    .wrapper > article {
      
      img {
        opacity:1;
        @include transform(scale(1));
      }

    }

    .wrapper > footer {
      @include transform(translateY(0));
    }

    .shd {
      opacity:1;
    }

  }

  &.loading {

  }

  &.focus-image {

    .wrapper > header {
      right:-32px;
    }

    .wrapper > footer {
      @include transform(translateY(100%));
    }

  }

  &.disable-save {

    .wrapper > article .mask {
      display:block;
    }

  }

}

