
.moui-imageview {
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: $moui_z_overlay + $moui_z_step;
  @include user-select(none);

  .wrapper {
    height:100%;

    & > header {
      position:absolute;
      top:0;
      right:-32px;
      width:32px;
      z-index:$moui_z_step;
      @include user-select(none);
      @include transition-property(right, top);
      @include transition-duration(0.4s, 0.4s);

      h1 {
        display:none;
      }

      .group {
        margin:22px 0;
        display:block;
      }

      .btn {
        @extend %moui-reset-btn;
        display:block;
        float:none;
        height:32px;
        line-height:32px;
        filter: alpha(opacity=60)\9;
        background:#777;
        background:rgba(119, 119, 119, 0.6);
        margin:1px 0;
        font-size:20px;
        font-weight:bold;
        color:#fff;
        text-align:center;

        &:hover {
          filter: alpha(opacity=100)\9;
          background:rgba(119, 119, 119, 1);
        }

        &:active {
          opacity:0.8;
        }

        &.disabled {
          filter: alpha(opacity=30)\9;
          opacity:0.3;
          background:rgba(119, 119, 119, 0.6);
        }

      }

      .cancel {
        margin-top:22px;
      }

      .reset {
        font-size:14px;
      }

      .next,
      .prev {
        height:120px;
        line-height:120px;
        font-family:Arial;
        font-size:30px;
        font-weight:100;
      }

      .scale-status {
        font-size:20px;
        font-weight:bold;
        color:#fff;
        position:absolute;
        left:-60px;
        top:22px;
        filter: alpha(opacity=60)\9;
        color:#777\9;
        color:rgba(119, 119, 119, 0.6);
        @include transition-property(opacity);
        @include transition-duration(0.4s);
        opacity:0;
      }

    }

    & > article {
      position:relative;
      height:100%;
      overflow:hidden;
      -webkit-backface-visibility:hidden;

      img {
        position:absolute;
        top:0;
        left:0;
        max-width:none;
        opacity:0;
        @include transform(scale(0.7));
        @include transition-property(transform, opacity);
        @include transition-duration(0.3s, 0.2s);

        &.ready {
          @include transition-property(transform, opacity, width, left, top);
          @include transition-duration(0.3s, 0.2s, 0.4s, 0.4s, 0.4s);
        }

        &.disable-effect {
          @include transition-property(transform, opacity, width);
        }

      }

      .mask {
        background:inline-image("blank.gif");
        display:none;
        position:absolute;
        top:0;
        left:0;
      }

    }

    & > .loading {
      position:absolute;
      top:50%;
      bottom:0;
      left:0;
      right:0;
      text-align:center;
      margin-top:-50px;
      color:#fff;
      font-size:12px;
    }

    & > footer {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      color: #fff;
      padding: 15px;
      background:#0d0d0d\9;
      filter: alpha(opacity=50)\9;
      background:rgba(0, 0, 0, 0.5);
      @include transform(translateY(100%));
      @include transition(transform 0.4s);
    }

  }

  .shd {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#0d0d0d\9;
    filter: alpha(opacity=95)\9;
    background:rgba(0, 0, 0, 0.85);
    opacity:0;
    @include transition(opacity 0.2s);
  }

  &.rendered {
    display:block;
  }

  &.active {

    .wrapper > header {
      right:14px;

      @media screen and (max-width: 600px) {
        right:0;
        top:0;
      }

      .scale-status {
        opacity:1;
      }

    }

    .wrapper > article {
      
      img {
        opacity:1;
        @include transform(scale(1));
      }

    }

    .wrapper > footer {
      @include transform(translateY(0));
    }

    .shd {
      opacity:1;
    }

  }

  &.loading {

  }

  &.focus-image {

    .wrapper > header {
      right:-32px;

      @media screen and (max-width: 600px) {
        right:0;
        top:-50px;
      }

      .scale-status {
        opacity:0;
      }

    }

    .wrapper > footer {
      @include transform(translateY(100%));
    }

  }

  &.disable-save {

    .wrapper > article .mask {
      display:block;
    }

  }

  &.enable-touch {

    .wrapper {

      & > header {

        .btn:hover {
          background:rgba(119, 119, 119, 0.6);

          @media screen and (max-width: 600px) {
            background:none;
          }

        }

      }

      & > article {
        overflow:auto;
        -webkit-overflow-scrolling:touch;
      }

    }

    .shd {
      background:#000;
    }

  }

  @media screen and (max-width: 600px) {

    .wrapper {

      & > header {
        top:-50px;
        right:0;
        left:0;
        width:auto;
        height:50px;
        overflow:hidden;
        filter: alpha(opacity=80)\9;
        background:#2d2d2d;
        background:rgba(45, 45, 45, 0.8);

        .group {
          margin:0;
        }

        .scale-status,
        .btn {
          float:left;
          width:50px;
          height:50px;
          line-height:50px;
          margin:0 1px;
          background:none;

          &.hover,
          &.disabled {
            background:none;
          }

        }

        .cancel {
          margin-top:0;
        }

        .pager {
          float:right;
        }

        .next,
        .prev {
          height:50px;
          line-height:50px;
        }

        .scale-status {
          position:static;
          font-size:14px;
        }

      }

    }

  }

  @media screen and (max-width: 380px) {

    .wrapper > header {

        .scale-status,
        .smaller,
        .bigger,
        .resize {
          display:none;
        }

    }

  }

}

