
// http://compass-style.org/reference/compass/support/
$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
$experimental-support-for-khtml : false;

$text_color: #252525;
$desc_color: #8e8e8e;
$border_color: #efefef;
$view_color: #f2f2f2;
$view_border_color: #e6e6e6;
$viewbg_color: #666;
$active_color: #006ae2;
$highlight_color: rgba(0, 119, 220, 0.2);
$notice_color: #df5001;

$headtitle_size: 40px/2;
$article_size: 40px/2;
$maintitle_size: 30px/2;
$button_size: 30px/2;
$title_size: 26px/2;
$text_size: 22px/2;

$button_height: 58px/2;
$bigbutton_height: 78px/2;
$nav_height: 85px/2;

$radius: 6px/2;
$space: 20px/2;
$morespace: 30px/2;

$zindex_item: 100;
$zindex_view: 200;
$zindex_overlay: 1000;
$zindex_mask: 5000;
$zindex_step: 10;

